/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;300&display=swap');

:root {
    --color-1: #a090b1;        /* Color primario */
    --color-2: #8072a2;      /* Color secundario */
    --color-3: #382b43;      /* Color terciario */
    --color-4: #ec5e00;         /* Color de acento */
    --color-5: #7c3aed;         /* Color de contenedor */
    --color-6: #20192c;         /* Color de fondo */
    --color-7: 
    radial-gradient(circle at top left, #382b43, transparent),
    radial-gradient(circle at top right, #20192c, transparent),
    radial-gradient(circle at bottom left, #20192c, transparent),
    radial-gradient(circle at bottom right, #382b43, transparent);


}

body {
    margin: 0 auto;
    width: 100%;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    background: var(--color-7);
    background-size:contain;
    color: var(--color-1);

}

main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-justify: distribute;
    padding-right: 20px;
    color: var(--color-2);
}

ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--color-1);
}

.bajada {
    color: var(--color-2);
    text-align: center;
    padding-bottom: 1rem;
}

em {
    color: green;
    font-style: italic;
}

code {
    background-color: var(--color-6);
    font-size: large;
    padding: 2px 6px;
    border-radius: 4px;
}

pre code {
    display: block;
    padding: 10px;
    border-radius: 4px;
    font-family: monospace;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    display: inline-block;
    background: var(--color-3);
    padding: 10px;
    margin: 0 auto;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}

img {
    border-radius: 8px;
    max-width: 100%;
}

figure img {
    max-width: 80vw;
    padding-bottom: 10px;
}

figcaption {
    border-left: 2px solid var(--color-4);
    padding-left: 1rem;
}

.cover{
    display: block;
    width: 100%;
    height: 200px;
    opacity: 0.5;
    object-fit: cover;
}

.centrar {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px solid var(--color-4);
}