---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1>Acerca de mi</h1>
  <p>Como profesional titulado de la PUC de Chile, he tenido durante años, experiencias en Diseño Gráfico, Diseño Web y Frontend, Diseño UX centrado en el Usuario, Diseño Animado y Audiovisual. Busco constantemente estar al día de las tecnologías y buenas prácticas para reflejar esos conocimientos en mi trabajo.</p>
  <p>Actualmente trabajando en Memoria Histórica Digital siendo parte integral de un equipo multidisciplinario que tiene la tarea de restaurar y preservar el patrimonio jurídico relevante del país.</p>


  <h2>Experiencia Profesional y Habilidades</h2>
  <ul>
    <li>- Experiencia en Diseño Gráfico, Web, Editorial, Animado, Motion Graphics para TV, Diseño de Recursos Expositivos.</li>
    <li>- Creación de Ilustraciones, Arte Digital</li>
    <li>- Trabajos con Empresas privadas, Agencia de Publicidad, Sector Público Estatal (Poder Judicial)</li>
    <li>- Actualmente realizando Diplomado en Diseño y Gestión de Proyectos Ágiles</li>
    <li>- Conocimiento de Lenguajes Frontend: HTML, CSS y JS</li>
    <li>- Uso de Wordpress, Bootstrap, Material Design y Metodologías CSS</li>
    <li>- Programas de Diseño: FIGMA, Adobe Photoshop, Illustrator, Indesign y After Effects</li>
  </ul>

  <div><img class="centrar" src="/public/assets/dno.png" alt="programas"></div>

  <h2>Otros intereses</h2>
  <ul>
    <li>- Música (Años 70 y 80)</li>
    <li>- Cine clásico de Acción y Ciencia ficción</li>
    <li>- Documentación y Gestión Personal del Conocimiento, Historia de Chile, Enciclopedias, Cómics y Libros de colección.</li>
  </ul>

</Layout>
