---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---
<Layout>
	<h1>Blog</h1>
	<p class="bajada">Algunos artículos y revisiones que comparto acá, relacionados con diseño, tecnología, arte y otros temas de cultura general.</p>

    
	<div class="flex">
        <Card title="Titulo del post" url="/posts/post-1/" image="/assets/C3.jpg"
        />

        <Card title="Titulo del post" url="/posts/post-2/" image="/assets/C4.jpg"
        />

        <Card title="Titulo del post" url="/posts/post-3/" image="/assets/300x200.jpg"
        />

    </div>
</Layout>
