---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Entry from "../components/Entry.astro";
---
<Layout>

	<h1>Proyectos</h1>
    <p class="bajada">Algunos trabajos y colaboraciones relevantes </p>
    <div class="flex">

        <Card title="Biblioteca Corte Suprema" url="/posts/proyecto-bcs" image="/assets/imagenes/bcs.png"
        desc="Gr치fica para Exhibiciones"/>

        <Card title="MPA" url="/posts/proyecto-mpa" image="/assets/imagenes/mpa.png"
        desc="Animaci칩n para TV y Dise침o Gr치fico"/>
    </div>
</Layout>