---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Entry from "../components/Entry.astro";
---
<Layout>

	<h1>Proyectos</h1>
    <p class="bajada">Algunos trabajos y colaboraciones relevantes </p>
    <div class="flex">
        
        <Card title="Memoria Histórica DigitaI" url="/posts/proyecto-mhd" image="/assets/imagenes/mhd.png"
        desc="Sistema visual y Diseño Web"/>

        <Card title="Biblioteca Corte Suprema" url="/posts/proyecto-bcs" image="/assets/imagenes/bcs.png"
        desc="Gráfica para Exhibiciones"/>

        <Card title="MPA" url="/posts/proyecto-mpa" image="/assets/imagenes/mpa.png"
        desc="Animación para TV y Diseño Gráfico"/>
    </div>
</Layout>