---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---
<Layout>

	<h1>Proyectos</h1>
    <div id="projects">
        <Card title="MPA" url="#" image=""
        desc="Sitio web para agencia de publicidad"/>

        <Card title="2" url="#" image=""
        desc="Ejercicio"/>

        <Card title="3" url="#" image=""
        desc="Prueba"/>

        <Card title="4" url="#" image=""
        desc="Identidad visual"/>

        <Card title="5" url="#" image=""
        desc="Ilustración"/>
    </div>
</Layout>