---
const platform = "github";
const username = "withastro";
---

<footer>
  
  <div class="copyright">
    <p>Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <p>© 2023</p>
</div>
</footer>

<style>
/* Estilos del footer */
footer {
    background-color: #444;
    color: #999;
    text-align: center;
    padding: 10px;
}
</style>