---
---

<section class="hero">
    <div class="hero-content">
        <h1>Hola, soy Francisco</h1>
        <p>Este es mi portafolio de Diseño. Como profesional, he tenido durante años, experiencias y colaboraciones en Diseño Gráfico, Diseño Web Frontend, Diseño de Información, Ilustración, Diseño Animado y Audiovisual. Busco constantemente estar al día de las tecnologías y buenas prácticas para aportar en mi trabajo.</p>
        <a href="/projects/">Ver mi trabajo</a>
    </div>
    <img src="/assets/mix.png" alt="Hero Image" class="hero-image" />
</section>

<style>
    .hero {
        position: relative;
        text-align: left;
        color: #ffffff;
        background: var(--color-6);
        padding: 50px;
        height: 80vh;
    }

    .hero-image {
        width: 100%;
        min-width: 300px;
        height: auto;
        display: block;
        padding: 20px 0 ;
        margin: 0 auto;
    }

    .hero-content {
        max-width: 600px;
        margin: 0 auto;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: start;
        color: var(--color-1);
    }

    .hero p {
        font-size: 1.2rem;
        margin-bottom: 20px;
        text-justify: distribute;
        padding-right: 20px;
        color: var(--color-2);
    }

    .hero a {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--color-5);
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

    @media screen and (min-width: 768px) {
        .hero {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .hero-content {
            order: 1;
        }

        .hero-image {
            order: 2;
        }
    }
</style>


